:root {
  --color-bg: white;
  --color-bg-sec: #F9F8FF;
  --color-bg-emph: #EFEEF5;
  

  --color-text: rgba(0, 0, 0, 0.88);
  --color-text-sec: rgba(0, 0, 0, 0.48);
  --color-text-neg: rgba(0, 0, 0, 0.24);

  --color-border: rgba(0, 0, 0, 0.16);
  --color-border-emph: rgba(0, 0, 0, 0.24);
}





body {
  background-color: var(--color-bg);
  color: var(--color-text);
}