.note {
  color: var(--color-text-sec);

  li, p {
    font-size: 14px;
  }

  border-left: 2px solid var(--color-border);
  padding-left: 8px;
}

.statement {
  padding: 16px 24px;
  border: 1px solid var(--color-border);
  // ……如果想让 statements 看上去像是 box 的话

  border-radius: 8px;
  margin: var(--fig-spacing) 0;

  h4 {
    margin-top: 9px;
  }

  @mixin indexedStatement($label, $counter) {
    counter-increment: $counter;
    h4 {
      margin-top: 9px;

      ::before {
        content: $label + " " counter($counter);
      }
  
      &::after {
        content: "\.";
      }
  
      span {
        margin-left: 0.5em;
  
        &:empty {
          display: none;
        }
  
        &::before {
          content: "\(";
        }
  
        &::after {
          content: "\)";
        }
      }
    }
  }

  &.theorem {
    @include indexedStatement("Theorem", theorem)
  }

  &.definition {
    @include indexedStatement("Definition", definition)
  }

  &.corollary {
    @include indexedStatement("Corollary", corollary)
  }

  
  
  
}