& {
  --fig-spacing: 16px;
}

.art_title {
  margin-top: 80px;
  margin-bottom: 32px;

  h1 {
    font-size: 48px;
    line-height: 1.25;
    font-weight: bold;
    margin-top: 0.25em;
  }
  
  &::before {
    content: var(--site-name);

    font-size: 20px;
    font-weight: bold;
    color: var(--color-text-sec);
  }

  ul {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;

    li {
      display: inline-block;
      background-color: var(--color-bg-emph-hex);
      color: var(--color-text-sec);

      padding: 6px 12px;
      border-radius: 1000px;
    }
  }
}


h2 {
  font-size: 32px;
  
  line-height: 1.25;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  font-weight: bold;
}




h3 {
  font-size: 24px;
  line-height: 1.25;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  line-height: 1.75;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  line-height: 1.75;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h6 {
  font-size: 14px;
  line-height: 1.75;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

p {
  &:empty {
    display: none;
  }

  font-size: 18px;
  line-height: 1.75;
  margin: 0.5em 0;

  a {
    text-decoration: underline;

    &[href*="https://"] {
      &:after {
        display: inline-block;
        
      }
    }
  }
}

hr {
  border-top: 1px solid var(--color-border);
  margin: 18px 0;
}

.figure {
  margin: 16px 0;

  p {
    font-size: 16px;
    text-align: center;
    color: var(--color-text-sec);
  }

  &.smooth {
    img {
      border-radius: 8px;
    }
  }
}

code {
  font-size: 16px;
}

p {
  code {
    background-color: rgba(white, 0.1);
    border: 1px solid rgba(white, 0.08);
    padding: 2px 8px;
    border-radius: 4px;
  }
}

pre {
  margin: 24px 0;
  font-family: var(--font-mono);
  padding: 12px 16px;
  background-color: rgba(white, 0.1);
  border: 1px solid rgba(white, 0.08);
  border-radius: 8px;
}

& {
  counter-reset: theorem;
}

.statement {
  padding-bottom: 16px;
  
  
  &.theorem {
    counter-increment: theorem;
    
    h4 {
      padding-top: 16px;

      &::before {
        content: "Theorem " counter(theorem);
      }

      &::after {
        content: "\.";
      }

      span {
        margin-left: 0.5em;

        &:empty {
          display: none;
        }

        &::before {
          content: "\(";
        }

        &::after {
          content: "\)";
        }
      }
    }
  }
}