


main {
  .content {
    .markdown-section {
      max-width: 800px;
      margin: 0 auto;
      padding: 40px;
    }
  }

  @media screen and (max-width: 900px) {
    .content {
      .markdown-section {
        max-width: 800px;
        margin: 0 auto;
        padding: 24px;
      }
    }
  }
}

.sidebar-toggle {
  position: fixed;
}

.sidebar {
  position: fixed;
  background-color: rgba(white, 0.08);
  width: 280px;
  height: calc(100%);
  top: 0;
  left: 0;
  padding: 24px;
}